# 내장 복사와 타입

파이썬의 시퀀스 데이터 타입
다음과 같은 속성을 가진다. :
- 멤버십(membershil) 연산 : in 키워드 사용
- 크기(size) 함수 : len(seq)
- 슬라이싱(slicing) 속성 : seq[:-1]
- 반복성(iterability) : 반복문에 있는 데이터를 순회할 수 있음

파이썬에는 문자열, 튜플, 리스트, 바이트 배열, 바이트 등 5개의 내장 시퀀스 타입이 있다.

In [ ]:
# 리스트 생성
l = []
print(type(l))

# 문자열 생성
s = ""
print(type(s))

# 튜플 생성
t = ()
print(type(t))

# 바이트 배열 생성
ba = bytearray(b"")
print(type(ba))

# 바이트 생성
b = bytes([])
print(type(b))

<class 'list'>
<class 'str'>
<class 'tuple'>
<class 'bytearray'>
<class 'bytes'>

# 깊은 복사와 슬라이싱 연산

가변(mutable) 객체 타입에 대해서.


파이썬의 모든 변수는 객체 참조(reference)이므로 가변 객체를 복사할 때, 즉 a = b라고 한다면 a는 실제 b가 가리키는(참조하는) 곳을 가리킨다는 것에 주의해야합니다.

따라서 깊은 복사(deep copy)와 얕은 복사(shallow cop)를 아는 것이 중요합니다.

In [8]:
# list (mutable)
L1 = [1, 2, 3]
print(L1) 
print(id(L1)) 
# [1, 2, 3]
# 140501931789120

L1[0] = 10
print(L1)
print(id(L1))
# [10, 2, 3]
# 140501931789120

# tuple (immutable)
T1 = (1, 2, 3)
print(T1)
print(id(T1))
# (1, 2, 3)
# 140501931737648

T1 = (10, 2, 3)
print(T1)
print(id(T1))
# (10, 2, 3)
# 140501932111424

[1, 2, 3]
140501931789120
[10, 2, 3]
140501931789120
(1, 2, 3)
140501931737648
(10, 2, 3)
140501932111424

In [2]:
# 리스트 깊은 복사 예제
1 = [1, 2, 3, 4]
V2 = V1[:]
print(V2)
print(type(V2))

[1, 2, 3, 4]
<class 'list'>

In [11]:
# 얕은 복사
a = [1, 2, 3]
b = a

b[0] = 100 

print(a)
print(b)
# [100, 2, 3]
# [100, 2, 3]

print(id(a))
print(id(b))
# 140501999107280
# 140501999107280

[100, 2, 3]
[100, 2, 3]
140501999107280
140501999107280

In [12]:
# 얕은 복사다.
a = [ [1,2], [3, 4], [5,6] ]
b = a[:]

print(id(a))
print(id(b))
# 140501931703584
# 140501931925248

print(id(a[0]))
print(id(b[0]))
# 140501931711056
# 140501931711056

140501931703584
140501931925248
140501931711056
140501931711056

In [15]:
# 깊은 복사
import copy

a = [0, [1,2], [3, 4], [5,6] ]
b = copy.deepcopy(a)

b[0] = 10
b[1][0] = 10

print(id(a))
print(id(b))
# 140501931703344
# 140501931826064

print(a)
print(b)
# [0, [1, 2], [3, 4], [5, 6]]
# [10, [10, 2], [3, 4], [5, 6]]

print(id(a[1]))
print(id(b[1]))
# 140501931825664
# 140501931839888

140501931703344
140501931826064
[0, [1, 2], [3, 4], [5, 6]]
[10, [10, 2], [3, 4], [5, 6]]
140501931825664
140501931839888

In [7]:
# 딕셔너리 
D1 = {"1" : "kingnamji"}
D2 = D1.copy()

D2[2] = "blog"
print(D2)

print(D1)

D3 = {"1" : "kingnamji"}
D4 = D3
D4[2] = "blog"

print(D3)

{'1': 'kingnamji', 2: 'blog'}
{'1': 'kingnamji'}
{'1': 'kingnamji', 2: 'blog'}

# 문자열

문자열은 immutable 객체입니다.

문자열 앞에 u를 붙이면 유니코드 문자열을 만들 수 있습니다.

In [16]:
u'유니코드\u0020예시!'

'유니코드 예시!'

문자열을 연결할 때 + 를 사용할 수 있지만, join() 메서드를 활용하면 편하다.

In [18]:
# join() 메서드
s = ["버피", "앤", "아스틴"]
print("".join(s))

# reversed() 메서드를 활용하면 이렇게도 쓸 수 있음
print("".join(reversed(s)))

버피앤아스틴
아스틴앤버피

문자열 언패킹 연산자는 **이며, 이를 사용하면 함수로 전달하기 적합한 key-value 딕셔너리가 생성됩니다.

In [23]:
# locals()

hero = "버피"
num = 999

print("{num} : {hero}".format(**locals()))

999 : 버피

나머지 2장 내용은 쉬워서 패스

책 참고