컬렉션 자료구조는 시퀀스 자료구조와 달리, 데이터를 서로 연관시키지 않고 모아두는 컨테이너다.
다음과 같은 속성을 가진다.
- 멤버십 연산자 : in
- 크기 함수 : len(seq)
- 반복성 : 반복문의 데이터를 순회한다.

파이썬의 내장 컬렉션 데이터 타입에는 셋과 딕셔너리가 있다.

# 셋

셋은 반복 가능하고, 가변적이며, 중복 요소가 없고, 정렬되지 않은 컬렉션 데이터 타입이다.

인덱스 연산은 할 수 없다. 셋은 멤버십 테스트 및 중복 항목 제거에 사용된다. 셋의 삽입 시간복잡도는 O(1)이고, 합집합의 시간복잡도는 O(m+n)이다. 교집합의경우 두 셋 중에서 더 작은 셋에 대해서만 계산하면 되므로, 시간복잡도는 O(n)이다.

In [ ]:
# 프로즌 셋은 셋과 달리 불변 객체이다.
fs = frozenset((0, 1, 2, 3, 4))
print(2 in fs)
print(len(fs))

True
5

In [ ]:
# add
people = {"버피", "에인절", "자일스"}
print(people)
people.add("윌로")
print(people)

{'버피', '자일스', '에인절'}
{'버피', '윌로', '자일스', '에인절'}

In [ ]:
# update() 와 |=연산자
people = {"버피", "에인절", "자일스"}
people.update({"로미오", "줄리엣", "에인절"})
print(people)
people |= {"리키", "유진"}
print(people)

{'줄리엣', '로미오', '에인절', '버피', '자일스'}
{'리키', '줄리엣', '로미오', '에인절', '버피', '자일스', '유진'}

In [ ]:
# union()과 |연산자
people = {"버피", "에인절", "자일스"}
print(people.union({"로미오", "줄리엣"})) # union은 복사본을 반환한다.
print(people) # 따라서 people 자체에 추가는 아니다.
# |연산자도 마찬가지
print(people|{"브라이언"}) 
print(people)

{'줄리엣', '로미오', '에인절', '버피', '자일스'}
{'버피', '자일스', '에인절'}
{'버피', '자일스', '에인절', '브라이언'}
{'버피', '자일스', '에인절'}

In [ ]:
# intersection()과 &연산자  ( 교집합 )
people = {"버피", "에인절", "자일스", "이안"}
vampires = {"에인절", "자일스", "윌로"}
print(people.intersection(vampires)) # union()과 마찬가지로 복사본을 반환
print(people & vampires)
print(people)

{'자일스', '에인절'}
{'자일스', '에인절'}
{'버피', '이안', '자일스', '에인절'}

In [ ]:
# difference()와 - 연산자
people = {"버피", "에인절", "자일스", "아영"}
vampires = {"스파이크", "에인절", "상민"}
print(people.difference(vampires)) # 차집합의 복사본을 반환
print(people - vampires)

{'버피', '자일스', '아영'}
{'버피', '자일스', '아영'}

In [ ]:
# clear()
people={"버피", "자일스", "에인절"}
people.clear() # 모든 항목을 제거한다.
print(people)

set()

discard(x)는 셋의 항목 x을 제거하며 반환값은 없다.

remove(x)는 같으나, 항목 x가 없는 경우 KeyError예외를 발생시킨다.

pop()은 셋에서 한 항목을 무작위로 제거하고, 그 항목을 반환한다. 셋이 비어있으면 KeyError예외를 발생시킨다.

In [ ]:
# discard(), remove(), pop()
countries = {"프랑스", "스페인", "영국"}
print(countries.discard("한국")) # None
# print(countries.remove("일본")) 에러가 난다
print(countries.pop())
print(countries)

None
스페인
{'영국', '프랑스'}

In [ ]:
#print(countries.remove("영국"))
print(countries)
countries.pop()

{'프랑스'}

'프랑스'