In [1]:
# 71
a = list(map(int, input().split()))

for i in a:

    if i == 0:
        break;

    print(i)

7 4 2 3 0 1 5 6 9 10 8
7
4
2
3

In [2]:
# 72
n = int(input())
a = list(map(int, input().split()))

for i in range(n):
    print(a[i])

5
1 2 3 4 5
1
2
3
4
5

In [3]:
# 73
a = list(map(int, input().split()))

for i in a:

    if i == 0:
        break;

    print(i)

7 4 2 3 0 1 5 6 9 10 8
7
4
2
3

In [4]:
# 74
n = int(input())

for i in range(n):
    print(n-i)

5
5
4
3
2
1

In [6]:
# 75
n = int(input())

for i in range(n):
    print(n-(i+1))

5
4
3
2
1
0

In [11]:
# 76
n = input()
last = ord(n) # 아스키 코드값으로 바꿔준다.

num = 97 # a의 아스키코드값 97로 시작하는 값을 설정 후

while num <= last: # 아스키코드 값이 마지막 값과 같아질 때 까지
    print(chr(num), end = ' ')
    num += 1

f
a b c d e f

In [12]:
# 77
n = int(input())

for i in range(n+1):
    print(i)

4
0
1
2
3
4

In [13]:
# 78
n = int(input())
sum = 0

for i in range(1, n+1): # 1부터 n까지로 범위를 제한
    if i % 2 == 0:
        sum += i

print(sum)

5
6

In [25]:
# 79
c = list(map(str, input().split()))

for i in c:
    print(i)
    if i == 'q':
        break;

x b k d l q g a c
x
b
k
d
l
q

In [28]:
# 80
n = int(input())

sum = 0
i = 1

# 입력된 정수와 같거나 커졌을 때, 마지막에 더한 정수를 출력하기 위해 while문의 조건은 n보다 작을 때
while sum < n: 
    sum += i
    i += 1

print(i-1) # while문의 마지막에 i가 한번 더 더해지기 떄문에 1을 뺴준다.

55
10